* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.leaderboard {
  min-height: calc(100vh - 4rem);
  backdrop-filter: blur(10px);
}

.leaderboard__container {
  margin: auto;
  max-width: 900px;
  width: 90vw;
  padding-bottom: 100px;
}

.leaderboard__heading {
  font-size: clamp(2rem, 10vw, 4rem);
  color: #d6ecff9c;
  margin-bottom: 1rem;
}

.player-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  color: #ffffffe1;
  border-bottom: 1px solid #ffffff6e;
  padding: 20px;
  margin-bottom: 10px;
}
