.login {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #101035;
    height: 100vh;
    width: 100%;
}

.login__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #5abaee;
}

.login__header>h1 {
    font-size: clamp(2rem, 6vw, 8rem);
    padding: clamp(16px, 1vw, 20px);
    margin-bottom: 0px;
}

.login__header>p {
    font-size: clamp(1rem, 2vw, 2rem);
    padding: clamp(20px, 1vw, 40px);
    text-align: center;
}

.login__button {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__button>button {
    width: 250px;
    background-color: #262455;
    color: white;
    font-weight: 800;
    padding: 20px;
}

.login__button>button:hover {
    background-color: #2d2b79;
    color: rgb(100, 123, 255);
}